@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class=" card card-body container col-sm-11 col-md-9 col-lg-8 p-0 ">
    <img src="./img/banerTest.jpg" class="img-fluid banerEstilo" alt="...">

</div>
<div class="row d-flex col-sm-11 col-md-9 col-lg-8 ms-auto me-auto p-0 text-center">
    <div class="card col-lg-6 col-xl-6 d-flex container p-1 m-0 bordeCard">
        <div class="card-header border-2">
            <h4>Noticias</h4>
        </div>
        <div id="noticias" class="card-body conteiner text-start">
            <ul>
                @foreach(Noticia noticia in Model.lstNoticia){
                    <li>
                        <div>
                            <a class="h5 mb-0 nav-link" asp-controller="Noticias" asp-action="Details" asp-route-id="@noticia.IdNoticia">@Html.DisplayFor(Model => noticia.TituloNoticia)</a>
                            <p class="fs-6 text-muted mb-0">@Html.DisplayFor(modelItem => noticia.FechaNoticia)</p>
                        </div>
                        <hr class="m-1">
                    </li>
                }                
            </ul>
        </div>
    </div>
    <div class="card col-lg-6 col-xl-6 d-flex container p-1 m-0 bordeCard">
        <div class="card-header border-2">
            <h4>Eventos</h4>
        </div>
        <div id="eventos" class="card-body conteiner text-start py-1">
            <ul>
                @foreach (Evento evento in Model.lstEventos)
                {
                        <li>
                            <div>
                            <a class="h5 mb-0 nav-link" asp-controller="Eventos" asp-action="Details" asp-route-id="@evento.IdEvento">@Html.DisplayFor(Model => evento.TituloEvento)</a>
                                <p class="fs-6 text-muted mb-0">@Html.DisplayFor(modelItem => evento.FechaEvento)</p>
                            </div>
                            <hr class="m-1">
                        </li>
                }
            </ul>
        </div>


    </div>
</div>

<div id="divMiniGal" class="row cards d-flex col-sm-11 col-md-9 col-lg-8 ms-auto me-auto text-center imgEstilo">
    @foreach(Publicacione publicacione in Model.lstPublicaciones){

        <a class="card card-body text-center d-flex col-sm-5 col-md-5 col-lg-2 imgBorde" asp-controller="Publicaciones" asp-action="Details" asp-route-id="@publicacione.PublicacionId">
            <img src=@Html.DisplayFor(modelItem => publicacione.FotoPath) alt="...">            
        </a>
    }

</div>
<div class=" card card-body container col-sm-11 col-md-9 col-lg-8 p-0">
    <img src="./img/banerTest.jpg" class="img-fluid banerEstilo" alt="...">
</div>