@model IEnumerable<Proyecto_Final.Models.dbModels.Evento>

@{
    ViewData["Title"] = "Eventos";
}

<h1 class="text-center">Panel de evento</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Nuevo Evento</a>
</p>
<div class="card col-6 mx-auto">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Eventos Del Servidor
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="h5 mb-0"  asp-action="Details" asp-route-id="@item.IdEvento">@Html.DisplayFor(modelItem => item.TituloEvento)</a>
                        @Html.DisplayFor(modelItem => item.EstatusEvento)   
                        <p class="fs-6 text-muted mb-0">@Html.DisplayFor(modelItem => item.FechaEvento)</p>
                    </td>
                    <td class="text-center col">
                        <a asp-action="Edit" asp-route-id="@item.IdEvento">Edición</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdEvento" class="text-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<table class="table bg-white my-3">
    <thead>
        <tr>
            <th class="text-center">
                Estatus
            </th>
            <th>
                Titulo
            </th>
            <th>
                Contenido
            </th>
            
            <th>
                Fecha
            </th>
            <th>
                Foto URL
            </th>
            <th>
                Creador
            </th>
            <th>
                Edición
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.EstatusEvento)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContenidoEvento)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.IdEvento">Vista</a> |
                <a asp-action="Edit" asp-route-id="@item.IdEvento">Edición</a> |                
                    <a asp-action="Delete" asp-route-id="@item.IdEvento" class="text-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

