@model IEnumerable<Proyecto_Final.Models.dbModels.Publicacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FotoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
