@model IEnumerable<Proyecto_Final.Models.dbModels.Publicacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            <a asp-action="Details" asp-route-id="@item.PublicacionId">Details</a>
    <div class="card col-4">
        <div class="card-header text-center">
                    <h5>@Html.DisplayFor(modelItem => item.Titulo)</h5>
        </div>
        <div clas="card-body">
                    <img src=@Html.DisplayFor(modelItem => item.FotoPath)>
                </div>
        <div class="card-footer row">
                    <b class="col-4">Por: @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)</b>
                    <div class="col-1">@Html.DisplayFor(modelItem => item.Estatus)</div>
                    <p class="text-muted col">@Html.DisplayFor(modelItem => item.FechaPublicacion)</p>
                    
        </div>
    </div>
        <tr>
            <td>
                 <img src=@Html.DisplayFor(modelItem => item.FotoPath)>                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
