@model IEnumerable<Proyecto_Final.Models.dbModels.Evento>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nuevo Evento</a>
</p>
<div class="card col-6">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Eventos Del Servidor
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="h3 mb-0" asp-action="Details" asp-route-id="@item.IdEvento">@Html.DisplayFor(modelItem => item.TituloEvento)</a>

                        @Html.DisplayFor(modelItem => item.EstatusEvento)

                        <p class="fs-6 text-muted mb-0">@Html.DisplayFor(modelItem => item.FechaEvento)</p>
                    </td>
                    <td class="text-center col">
                        <a asp-action="Edit" asp-route-id="@item.IdEvento">Aprobar</a> |
                        <a asp-action="Edit" asp-route-id="@item.IdEvento">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdEvento">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>