@model Proyecto_Final.Models.dbModels.Noticia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Noticia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloNoticia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloNoticia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContenidoNoticia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContenidoNoticia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoticiaStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoticiaStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNoticia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNoticia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNoticia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
